<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="header-content">
          <div class="contact-info">
            <span>
              <i class="fas fa-envelope ms-2"></i>
              <a href="mailto:principal&#64;kgrinstitute.com" class="me-4">
                principal&#64;kgrinstitute.com
              </a>
            </span>
            <span>
              <i class="fas fa-mobile-button ms-2"></i>
              <a href="callto:+91944159023">
                +91 944159023</a>
            </span>
          </div>
          <div class="social-media">
            <a href="#" class="socialmedia-icon"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="socialmedia-icon"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="socialmedia-icon"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="socialmedia-icon"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light top-sticky">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/Images/index-2_03.png" alt="" class="logo-image">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="aboutUsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="aboutUsDropdown">
            <li><a class="dropdown-item" href="/about-us">About KGRITM</a></li>
            <li><a class="dropdown-item" href="#">Vision &amp; Mission</a></li>
            <li><a class="dropdown-item" href="#">Chairman Speaks</a></li>
            <li><a class="dropdown-item" href="#">Director Speaks</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="academicProgramsDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Academic Programs
          </a>
          <ul class="dropdown-menu" aria-labelledby="academicProgramsDropdown">
            <li><a class="dropdown-item" href="#">M.B.A.</a></li>
            <li><a class="dropdown-item" href="#">B.Pharmacy</a></li>
            <li><a class="dropdown-item" href="#">M.Pharmacy</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="facilitiesDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Facilities
          </a>
          <ul class="dropdown-menu" aria-labelledby="facilitiesDropdown">
            <li><a class="dropdown-item" href="#">Infrastructure</a></li>
            <li><a class="dropdown-item" href="#">Central Library</a></li>
            <li><a class="dropdown-item" href="#">Computer Lab</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="admissionsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Admissions
          </a>
          <ul class="dropdown-menu" aria-labelledby="admissionsDropdown">
            <li><a class="dropdown-item" href="#">MBA</a></li>
            <li><a class="dropdown-item" href="#">M.Pharmacy</a></li>
            <li><a class="dropdown-item" href="#">B.Pharmacy</a></li>
            <li><a class="dropdown-item" href="#">Application &amp; Prospectus</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="placementsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Placements
          </a>
          <ul class="dropdown-menu" aria-labelledby="placementsDropdown">
            <li><a class="dropdown-item" href="#">Placement Cell</a></li>
            <li><a class="dropdown-item" href="#">Online Registration</a></li>
            <li><a class="dropdown-item" href="#">Success Stories</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="contactsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Contacts
          </a>
          <ul class="dropdown-menu" aria-labelledby="contactsDropdown">
            <li><a class="dropdown-item" href="#">Contact Form</a></li>
            <li><a class="dropdown-item" href="#">Address</a></li>
            <li><a class="dropdown-item" href="#">Phone</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>