<section class="container-fluid m-0 p-0">
    <div class="alumni-container">
        <img src="../../assets/Images/alumni banner.jpg" alt="" class="img-fluid">
    </div>
    <div class="container mt-5">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100 text-center custom-card">
              <div class="mx-auto mt-3">
                <img src="../../assets/Images/stylish-spectacles-guy-3d-avatar-character-illustrations-png.webp" class="rounded-circle avatar-img" alt="Avatar Image">
              </div>
              <div class="card-body">
                <h5 class="card-name">Name</h5>
                <p class="card-location">Hyderabad</p>
              </div>
            </div>
          </div>
          <!-- Repeat this block for more cards -->
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100 text-center custom-card">
              <div class="mx-auto mt-3">
                <img src="../../assets/Images/stylish-spectacles-guy-3d-avatar-character-illustrations-png.webp" class="rounded-circle avatar-img" alt="Avatar Image">
              </div>
              <div class="card-body">
                <h5 class="card-name">Name</h5>
                <p class="card-location">Hyderabad</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100 text-center custom-card">
              <div class="mx-auto mt-3">
                <img src="../../assets/Images/stylish-spectacles-guy-3d-avatar-character-illustrations-png.webp" class="rounded-circle avatar-img" alt="Avatar Image">
              </div>
              <div class="card-body">
                <h5 class="card-name">Name</h5>
                <p class="card-location">Hyderabad</p>
              </div>
            </div> 
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100 text-center custom-card">
              <div class="mx-auto mt-3">
                <img src="../../assets/Images/stylish-spectacles-guy-3d-avatar-character-illustrations-png.webp" class="rounded-circle avatar-img" alt="Avatar Image">
              </div>
              <div class="card-body">
                <h5 class="card-name">Name</h5>
                <p class="card-location">Hyderabad</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100 text-center custom-card">
              <div class="mx-auto mt-3">
                <img src="../../assets/Images/stylish-spectacles-guy-3d-avatar-character-illustrations-png.webp" class="rounded-circle avatar-img" alt="Avatar Image">
              </div>
              <div class="card-body">
                <h5 class="card-name">Name</h5>
                <p class="card-location">Hyderabad</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100 text-center custom-card">
              <div class="mx-auto mt-3">
                <img src="../../assets/Images/stylish-spectacles-guy-3d-avatar-character-illustrations-png.webp" class="rounded-circle avatar-img" alt="Avatar Image">
              </div>
              <div class="card-body">
                <h5 class="card-name">Name</h5>
                <p class="card-location">Hyderabad.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card h-100 text-center custom-card">
              <div class="mx-auto mt-3">
                <img src="../../assets/Images/stylish-spectacles-guy-3d-avatar-character-illustrations-png.webp" class="rounded-circle avatar-img" alt="Avatar Image">
              </div>
              <div class="card-body">
                <h5 class="card-name">Name</h5>
                <p class="card-location">Hyderabad.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
